<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SSH Keys | User Portal - WP Engine</title>
    <meta content="noodp,noydir" name="robots">
    <meta content="Log in to the user portal and manage your WordPress websites hosted on WP Engine." name="description">
    <link rel="shortcut icon" type="image/x-icon" href="https://mycdn-wpengine.netdna-ssl.com/packs/images/favicon-d71d5cf74d73d9e7aec75ac7ead3af25.ico">
    <meta content="WP Engine" name="apple-mobile-web-app-title">
    <link href="https://mycdn-wpengine.netdna-ssl.com/packs/images/apple-touch-icon-152x152-59c1dab19831dd86fb21bbab9d2f351c.png"
        rel="apple-touch-icon" sizes="152x152">
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
    <link rel="stylesheet" media="screen" href="https://mycdn-wpengine.netdna-ssl.com/packs/application-bacde385c1f3c3c5136c93d7d8cb74df.css">
    </script>

    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="UWMqI9su5qvfwjkrr/7awJznlJfvN1J/cdJIHOHtsoapAMuJP6DqwTRhv1TwOtuDTz+YF6YIjrWoLliVNLDLKw==">

</head>

<body class="no-responsive">
    <div class="page-content">
        <script>
            var dataLayer = window.dataLayer = window.dataLayer || [];
            dataLayer.push({ "impersonated": false, "user": { "id": 282849, "email": "jeffrey.dorrycott@wpengine.com", "name": "Jeffrey Dorrycott" }, "account": { "plan": "comped", "wpe_id": 774069 } });
        </script>

        <div id="site_notice" style="display:none;">
            <div id="site_notice_pusher"></div>
            <div id="site_notice_wrapper">
                <div id="site_notice_container"></div>
            </div>
        </div>
        <div class="shared-header">
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header"><a class="navbar-brand" href="/">/</a>
                        <div class="loading-spinner"><i class="fa fa-cog fa-spin"></i></div>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">adumbbear<i
                                        class="fa fa-caret-down pad-left"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="current-account"><a href="#"><i class="fa fa-check pad-right"></i>adumbbear</a></li>
                                    <li><a href="/accounts/jeffreytest">jeffreytest</a></li>
                                </ul>
                            </li>
                            <li><a href="/dashboard">Home</a></li>
                            <li><a href="/sites">Sites</a></li>
                            <li><a href="/themes">Themes</a></li>
                            <li id="tools-menu"><a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Tools">Tools<i
                                        class="fa fa-caret-down pad-left"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/products/content_performance">Content Performance</a></li>
                                    <li><a href="/page_performance">Page Performance</a></li>
                                </ul>
                            </li>
                            <li><a href="/accounts/adumbbear/users">Users</a></li>
                            <li><a href="/my_account">My Account</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Hi Jeffrey">Hi
                                    Jeffrey<i class="fa fa-caret-down pad-left"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/">Admin</a></li>
                                    <li><a href="/users/edit">My Profile</a></li>
                                    <li><a rel="nofollow" data-method="delete" href="/users/logout">Logout</a></li>
                                </ul>
                            </li>
                            <li id="live_chat_nav"><a id="chat_wait_time_dropdown" class="chat_link live-chat-nav-dropdown tooltipstered"
                                    data-offset-x="9" data-offset-y="-20" style="">Live chat <i class="fa fa-circle pad-left"></i></a><a
                                    class="unavailable-chat-msg live-chat-nav-dropdown tooltipstered" data-offset-x="9"
                                    data-offset-y="-20" style="display: none;">Live chat <i class="fa fa-circle pad-left"></i></a></li>
                            <li><a class="support-link" href="/support">Support (24/7)</a><i id="support_pin_tooltip"
                                    data-offset-x="12" data-offset-y="-2" data-interactive-tolerance="2000" class="fa fa-info-circle tooltipstered"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="flash-container sticky-div alert alert-info hidden static" id="bootstrap_flash_container" style="width: 1425px;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12"><i class=" fa fa-exclamation-triangle"></i><i class=" fa fa-exclamation-circle"></i><i
                            class=" fa fa-check"></i><span class="flash-message"></span></div>
                </div>
            </div>
        </div>


        <div class="container main-content">
            <div class="row">
                <div class="col-xs-2">
                    <aside class="account-settings" id="sidebar">
                        <ul>
                            <li><a href="/users/edit">My Profile</a></li>
                            <li><a href="/users/edit/password">Update Password</a></li>
                            <li><a href="/two_factor_auth">Two-Factor Auth</a></li>
                            <li class="active"><a href="/ssh_keys">SSH Keys</a></li>
                            <li><a href="/api_access">API Access</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-xs-10">
                    <div id="page_container">
                        <div id="page-ssh-keys">
                            <div id="page_heading">
                                <h1>SSH Keys</h1>
                            </div>
                            <div class="row">
                                <div class="col-xs-8">
                                    <div class="panel panel-default billing">
                                        <div class="panel-heading">
                                            <button name="button" type="submit" class="btn btn-primary pull-right" id="new-key-btn">New
                                                SSH key</button>
                                            <h4>My SSH keys</h4>
                                        </div>
                                        <div class="panel-body">
                                            <section class="divider">
                                                <div class="row">
                                                    <div class="col-xs-1">
                                                        <i class="fa fa-key fa-3x fa-rotate-90"></i>
                                                    </div>
                                                    <div class="col-xs-8">
                                                        <p><b>jeffrey.dorrycott@wpengine.com</b></p>
                                                        <p><b>Fingerprint:</b><span class="monospace">
                                                                1c:3d:07:1c:a7:16:f5:63:37:88:c8:b6:69:ca:ef:c3</span></p>
                                                        <p>Added August 23, 2018</p>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <a class="remove-sshkey-link" data-confirm="<div class=&quot;modal-title&quot;>Are you sure you want to remove this SSH key? </div><br /><p>This action <strong>cannot</strong> be undone. If you remove this
    SSH key, you may need to upload it again.</p>"
                                                            data-commit="Confirm remove" rel="nofollow" data-method="delete"
                                                            href="/ssh_keys/2644"><i class="fa fa-trash fa-fw"></i>
                                                            Remove</a>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                    <div class="panel panel-default billing" id="new-key-container">
                                        <div class="panel-heading">
                                            <h4>New SSH key</h4>
                                        </div>
                                        <div class="panel-body">
                                            <p>Need help? Check out our guide about <a target="_blank" rel="noreferrer"
                                                    href="https://wpengine.com/support/ssh-keys-for-shell-access/">generating
                                                    and adding SSH keys</a> on your Mac, Linux or Windows machine.</p>
                                            <form novalidate="novalidate" class="simple_form new_ssh_key" id="new_ssh_key"
                                                action="/ssh_keys" accept-charset="UTF-8" method="post"><input name="utf8"
                                                    type="hidden" value="✓"><input type="hidden" name="authenticity_token"
                                                    value="UWMqI9su5qvfwjkrr/7awJznlJfvN1J/cdJIHOHtsoapAMuJP6DqwTRhv1TwOtuDTz+YF6YIjrWoLliVNLDLKw==">
                                                <div class="form-group text required ssh_key_public_key"><label class="control-label text required"
                                                        for="ssh_key_public_key">Public key <abbr class="required-mark">*</abbr></label><textarea
                                                        class="form-control text required" rows="5" cols="55"
                                                        placeholder="Public keys begin with 'ssh-rsa', 'ssh-dss', 'ssh-ed25519', 'ecdsa-sha2-nistp256', 'ecdsa-sha2-nistp384', or 'ecdsa-sha2-nistp521'"
                                                        name="ssh_key[public_key]" id="ssh_key_public_key"></textarea></div>
                                                <div class="api_error"></div>
                                                <div class="text-right"><a class="btn btn-link" id="js-form-dismiss">Cancel</a><input
                                                        type="submit" name="commit" value="Add SSH key" class="btn btn-primary"
                                                        id="add-ssh-key-btn" data-disable-with="Add SSH key"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="panel panel-default sidebar-box">
                                        <div class="panel-body">
                                            <p><b>Heads up!</b></p>
                                            <p>This page is where you add your SSH public key for use with <a target="_blank"
                                                    rel="noreferrer" href="https://wpengine.com/support/getting-started-ssh-gateway/">SSH
                                                    Gateway</a>. If you wish to add your SSH public key for use with
                                                git instead, <a target="_blank" rel="noreferrer" href="https://wpengine.com/support/set-git-push-user-portal/">follow
                                                    these steps</a>.</p>
                                            <p>Because SSH Gateway is available for select plans, additional steps to
                                                enable this feature may be required.</p><a class="btn btn-bordered"
                                                target="_blank" rel="noreferrer" href="https://wpengine.com/support/enabling-ssh-gateway/">Learn
                                                how to enable</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer">
        <div class="content">
            <div class="pull-right">
                <ul class="nav-links">
                    <li><a href="/dashboard">Home</a></li>
                    <li><a href="/sites">Sites</a></li>
                    <li><a href="/accounts/adumbbear/users">Users</a></li>
                    <li><a href="/users/edit">Settings</a></li>
                    <li><a target="_blank" rel="noreferrer" href="https://wpengine.com/support/">Support Garage</a></li>
                </ul>
                <ul>
                    <li><a target="_blank" rel="noreferrer" href="https://wpengine.com/privacy/">Privacy Policy</a></li>
                    <li><a target="_blank" rel="noreferrer" href="https://wpengine.com/community/">Community</a></li>
                    <li><a target="_blank" rel="noreferrer" href="https://wpengine.com/consultants/">Consultants</a></li>
                    <li><a target="_blank" rel="noreferrer" href="https://wpenginestatus.com/">System Status</a></li>
                </ul>
            </div><a target="_blank" rel="noreferrer" href="https://wpengine.com"><svg xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 268.3 51"
                    enable-background="new 0 0 268.3 51" xml:space="preserve">
                    <style>
                        .cogs {
                            fill: #40BAC8;
                        }

                        .wpe,
                        .reg {
                            fill: #162A33;
                        }
                    </style>
                    <g>
                        <g>
                            <g class="cogs">
                                <polygon points="17.4,51 33.8,51 33.8,38.6 29.8,34.6 21.3,34.6 17.4,38.6"></polygon>
                                <polygon points="38.6,17.3 34.7,21.2 34.7,29.8 38.6,33.7 51.1,33.7 51.1,17.3"></polygon>
                                <polygon points="33.8,0 17.4,0 17.4,12.5 21.3,16.4 29.8,16.4 33.8,12.5"></polygon>
                                <polygon points="51.1,51 51.1,38.6 47.2,34.6 34.7,34.6 34.7,51"></polygon>
                                <polygon points="4,0 0.1,3.9 0.1,16.4 16.5,16.4 16.5,0"></polygon>
                                <polygon points="34.7,0 34.7,12.5 38.6,16.4 51.1,16.4 51.1,0"></polygon>
                                <path d="M25.6 27.9c-1.3 0-2.3-1.1-2.3-2.3c0-1.3 1.1-2.3 2.3-2.3c1.3 0 2.3 1.1 2.3 2.3 C27.9 26.8 26.9 27.9 25.6 27.9z"></path>
                                <polygon points="16.5,17.3 0.1,17.3 0.1,33.7 12.5,33.7 16.5,29.8"></polygon>
                                <polygon points="16.5,38.6 12.5,34.6 0.1,34.6 0.1,51 12.5,51 16.5,47.1"></polygon>
                            </g>
                            <g class="wpe">
                                <path d="M86.2 38.6c-0.3 0-0.4-0.1-0.5-0.4l-4.1-14.5h-0.1l-4.1 14.5c-0.1 0.3-0.2 0.4-0.5 0.4h-4.8 c-0.3 0-0.4-0.1-0.5-0.4L64.6 13c0-0.2 0-0.4 0.3-0.4h6.3c0.3 0 0.5 0.2 0.5 0.4L75 28.1h0.1l4-15.1c0.1-0.3 0.2-0.4 0.5-0.4h3.9 c0.3 0 0.4 0.1 0.5 0.4l4.2 15.1h0.1L91.5 13c0-0.2 0.2-0.4 0.5-0.4h6.3c0.2 0 0.3 0.2 0.3 0.4l-7 25.2c-0.1 0.3-0.2 0.4-0.5 0.4 H86.2z"></path>
                                <path d="M103.6 38.6c-0.2 0-0.4-0.2-0.4-0.4V13c0-0.2 0.2-0.4 0.4-0.4H114c6.3 0 9.6 3.6 9.6 8.6 c0 5-3.3 8.7-9.6 8.7h-3.8c-0.2 0-0.2 0.1-0.2 0.2v8c0 0.2-0.2 0.4-0.4 0.4H103.6z M116.9 21.3c0-1.8-1.2-2.9-3.3-2.9h-3.4 c-0.2 0-0.2 0.1-0.2 0.2V24c0 0.2 0.1 0.2 0.2 0.2h3.4C115.7 24.2 116.9 23 116.9 21.3z"></path>
                                <g>
                                    <path d="M132.5 32.2c-0.5-1.4-0.7-3.1-0.7-6.5c0-3.3 0.3-5.1 0.7-6.5c1.3-4.1 4.5-6.2 8.6-6.2 c4.2 0 7.3 2.1 8.6 6.2c0.5 1.4 0.7 3 0.7 6.1c0 0.3-0.2 0.5-0.6 0.5h-16.3c-0.2 0-0.3 0.2-0.3 0.4c0 2.7 0.2 4.2 0.6 5.5 c1.2 3.7 3.9 5.3 7.5 5.3c3.4 0 5.9-1.5 7.4-3.5c0.2-0.3 0.5-0.3 0.7-0.1l0.3 0.3c0.3 0.2 0.3 0.5 0.1 0.7 c-1.7 2.4-4.6 4.1-8.4 4.1C136.9 38.5 133.9 36.4 132.5 32.2z M148.7 24.4c0.2 0 0.3-0.1 0.3-0.3c0-1.7-0.2-3.1-0.6-4.3 c-1.1-3.5-3.7-5.3-7.2-5.3c-3.5 0-6.1 1.7-7.2 5.3c-0.4 1.2-0.6 2.5-0.6 4.3c0 0.2 0.1 0.3 0.3 0.3H148.7z"></path>
                                    <path d="M173.6 38c-0.3 0-0.5-0.2-0.5-0.5V22.9c0-5.8-2.4-8.3-7.1-8.3c-4.1 0-7.5 2.8-7.5 7.6v15.4 c0 0.3-0.2 0.5-0.5 0.5h-0.5c-0.3 0-0.5-0.2-0.5-0.5V14.2c0-0.3 0.2-0.5 0.5-0.5h0.5c0.3 0 0.5 0.2 0.5 0.5v3.4h0.1 c1.2-2.8 4-4.5 7.5-4.5c5.5 0 8.6 3.1 8.6 9.4v15c0 0.3-0.2 0.5-0.5 0.5H173.6z"></path>
                                    <path d="M182 44.3c-0.2-0.3-0.2-0.6 0.1-0.7l0.4-0.3c0.3-0.2 0.5-0.1 0.7 0.2c1.4 1.8 3.5 2.9 6.5 2.9 c4.6 0 7.6-2.3 7.6-8.3v-4.1h-0.1c-1.2 2.7-3.3 4.6-7.6 4.6c-4.1 0-6.9-2.2-8.1-5.8c-0.6-1.7-0.8-3.9-0.8-6.9 c0-3 0.3-5.2 0.8-6.9c1.2-3.6 4-5.8 8.1-5.8c4.3 0 6.4 1.9 7.6 4.6h0.1v-3.5c0-0.3 0.2-0.5 0.5-0.5h0.5c0.3 0 0.5 0.2 0.5 0.5 v23.9c0 6.7-3.6 9.7-9.2 9.7C186.1 47.8 183.2 46.2 182 44.3z M196.6 32.2c0.5-1.5 0.7-3.3 0.7-6.4c0-3-0.2-4.9-0.7-6.4 c-1.2-3.6-3.8-4.9-6.8-4.9c-3.3 0-5.7 1.6-6.7 4.8c-0.5 1.5-0.8 3.6-0.8 6.4c0 2.8 0.3 4.9 0.8 6.4c1.1 3.2 3.4 4.8 6.7 4.8 C192.8 37.1 195.5 35.8 196.6 32.2z"></path>
                                    <path d="M207.2 6.1c-0.3 0-0.5-0.2-0.5-0.5V3.6c0-0.3 0.2-0.5 0.5-0.5h1.2c0.3 0 0.5 0.2 0.5 0.5v2.1 c0 0.3-0.2 0.5-0.5 0.5H207.2z M207.6 38c-0.3 0-0.5-0.2-0.5-0.5V14.2c0-0.3 0.2-0.5 0.5-0.5h0.5c0.3 0 0.5 0.2 0.5 0.5v23.3 c0 0.3-0.2 0.5-0.5 0.5H207.6z"></path>
                                    <path d="M233.5 38c-0.3 0-0.5-0.2-0.5-0.5V22.9c0-5.8-2.4-8.3-7.1-8.3c-4.1 0-7.5 2.8-7.5 7.6v15.4 c0 0.3-0.2 0.5-0.5 0.5h-0.5c-0.3 0-0.5-0.2-0.5-0.5V14.2c0-0.3 0.2-0.5 0.5-0.5h0.5c0.3 0 0.5 0.2 0.5 0.5v3.4h0.1 c1.2-2.8 4-4.5 7.5-4.5c5.5 0 8.6 3.1 8.6 9.4v15c0 0.3-0.2 0.5-0.5 0.5H233.5z"></path>
                                    <path d="M241.4 32.2c-0.5-1.4-0.7-3.1-0.7-6.5c0-3.3 0.3-5.1 0.7-6.5c1.3-4.1 4.5-6.2 8.6-6.2 c4.2 0 7.3 2.1 8.6 6.2c0.5 1.4 0.7 3 0.7 6.1c0 0.3-0.2 0.5-0.6 0.5h-16.3c-0.2 0-0.3 0.2-0.3 0.4c0 2.7 0.2 4.2 0.6 5.5 c1.2 3.7 3.9 5.3 7.5 5.3c3.4 0 5.9-1.5 7.4-3.5c0.2-0.3 0.5-0.3 0.7-0.1l0.3 0.3c0.3 0.2 0.3 0.5 0.1 0.7 c-1.7 2.4-4.6 4.1-8.4 4.1C245.8 38.5 242.7 36.4 241.4 32.2z M257.5 24.4c0.2 0 0.3-0.1 0.3-0.3c0-1.7-0.2-3.1-0.6-4.3 c-1.1-3.5-3.7-5.3-7.2-5.3c-3.5 0-6.1 1.7-7.2 5.3c-0.4 1.2-0.6 2.5-0.6 4.3c0 0.2 0.1 0.3 0.3 0.3H257.5z"></path>
                                </g>
                            </g>
                        </g>
                        <g class="reg">
                            <path d="M262.3 16.1c0-1.7 1.3-3 3-3c1.7 0 3 1.3 3 3c0 1.7-1.3 3-3 3C263.6 19.1 262.3 17.8 262.3 16.1z M267.8 16.1c0-1.5-1.1-2.5-2.5-2.5c-1.5 0-2.5 1.1-2.5 2.5c0 1.5 1.1 2.5 2.5 2.5C266.7 18.6 267.8 17.6 267.8 16.1z M264.3 17.8 c-0.1 0-0.1 0-0.1-0.1v-3.1c0-0.1 0-0.1 0.1-0.1h1.2c0.7 0 1.1 0.4 1.1 1c0 0.4-0.2 0.8-0.7 0.9l0.7 1.3c0.1 0.1 0 0.2-0.1 0.2 h-0.3c-0.1 0-0.1-0.1-0.2-0.1l-0.7-1.3h-0.7c0 0 0 0 0 0v1.2c0 0.1-0.1 0.1-0.1 0.1H264.3z M266.1 15.4c0-0.3-0.2-0.5-0.6-0.5 h-0.8c0 0 0 0 0 0v1c0 0 0 0 0 0h0.8C265.9 15.9 266.1 15.7 266.1 15.4z"></path>
                        </g>
                    </g>
                </svg>
            </a>
            <div>© 2018 WP Engine, Inc. All Rights Reserved.<br>WP Engine®, Torque®, EverCache®, and the cog logo
                service marks are owned by WP Engine, Inc.</div>
        </div>
    </footer>

    <div id="live_chat_install_selector_modal_container"><a id="live_chat_install_selector_modal_loader"
            data-remote-load-html="#live_chat_install_selector" data-remote-load-error="false" data-remote="true" href="/live_chat_install_selector_modal"></a>
        <div class="modal" id="live_chat_install_selector"></div>
    </div>
    <div class="form-blocker" id="form_blocker_template" style="display:none;">
        <div class="loading-bubbles"><span id="loading_bubble_1"></span><span id="loading_bubble_2"></span><span id="loading_bubble_3"></span></div>
    </div>

    <script src="wasm_exec.js"></script>
    <script>
        const go = new Go();
        WebAssembly.instantiateStreaming(fetch("main.wasm"), go.importObject).then(result => {
            go.run(result.instance);
        }).catch(error => {
            console.log("error encountered:", error);
        });
    </script>

</body>
