<div class="roster">
    {{ if .Users}} {{range .Users}}
    <div class="user">
        <p class="heading">{{.Name}}</p><hr>
        <p class="content">{{.Biography}}</p>
    </div>
    {{end}}
</div>